.root {
    -verdeOsc: #009ca1;
    -verdeOpa: #13c4ca;
    -verdeCurrent: #34d0d0;
    -verdeCla: #95eeee;
    -verdeClaa: #bee9e9;
    -grisCla: #eeeeee;
    -grisCla2: #d8dcdc;
    -gris: #a0b2b7;
    -azul: #2500dd;
    -rojo: #ed4545;
    -rojoOsc: #8f2727;
}

.buttonSave {
    -fx-background-color: -verdeCurrent;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian , -grisCla2, 10 , 0.1 , 0 , 5 ); 
}
.buttonSave:hover {
    -fx-background-color: -verdeCurrent;
    -fx-effect: dropshadow(gaussian , -verdeCurrent, 10 , 0.1 , 0 , 0 ); 
}
.buttonSave:pressed {
    -fx-effect: dropshadow(gaussian , -verdeOsc , 10 , 0.1 , 0 , 0 ); 
}

.buttonEdit {
    -fx-background-color: -grisCla;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian , -verdeOpa, 10 , 0.1 , 0 , 5 ); 
}
.buttonEdit:hover {
    -fx-background-color: -grisCla;
    -fx-effect: dropshadow(gaussian , -grisCla, 10 , 0.1 , 0 , 0 ); 
}
.buttonEdit:pressed {
    -fx-effect: dropshadow(gaussian , -verdeOsc , 10 , 0.1 , 0 , 0 ); 
}

.buttonDelete {
    -fx-background-color: -rojo;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian , -grisCla2, 10 , 0.1 , 0 , 5 ); 
}
.buttonDelete:hover {
    -fx-background-color: -rojo;
    -fx-effect: dropshadow(gaussian , -rojo, 10 , 0.1 , 0 , 0 ); 
}
.buttonDelete:pressed {
    -fx-effect: dropshadow(gaussian , -rojoOsc , 10 , 0.1 , 0 , 0 ); 
}

.buttonCopy {
    -fx-background-color: -verdeCurrent;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian , -grisCla2, 10 , 0.0 , 0 , 5 ); 
}
.buttonCopy:hover {
    -fx-background-color: -verdeCurrent;
    -fx-effect: dropshadow(gaussian , -verdeCurrent, 10 , 0.1 , 0 , 0 ); 
}
.buttonCopy:pressed {
    -fx-effect: dropshadow(gaussian , -verdeOsc , 10 , 0.1 , 0 , 0 ); 
}

.VBox1 {
    -fx-background-color: -grisCla;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.VBox1:pressed  {
    -fx-focus-color: transparent;
}
.VBox1:focused  {
    -fx-background-insets: 0, 0, 0, 0;
}

.colorTurque {
    -fx-background-color: -verdeCurrent;
}
.colorTrans {
    -fx-background-color: transparent;
}
.colorLightGray {
    -fx-background-color: #eeeeee;
}


.button1 {
    -fx-background-color: #eeeeee;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}
.button1:focused {
    -fx-background-insets: 0, 0, 0, 0;
}

 .textField {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
}
 .textField:focused {
    -fx-border-color: #34d0d0;
}

.list-cell {
    -fx-background: #eeeeee;
    -fx-border-color: #eeeeee;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 30;
}
.list-cell:filled:hover {
    -fx-border-color: black;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: black;
} 
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #bee9e9;
    -fx-border-color: #bee9e9;
    -fx-text-fill: black;
}
.list-cell:even {
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: -gris;
    -fx-background-radius: 10 10 10 10;
    -fx-opacity: 0.5;
} 
.list-view .scroll-bar:vertical .thumb:hover,
.list-view .scroll-bar:vertical .thumb:pressed {
    -fx-opacity: 1;
} 
.list-view .scroll-bar:vertical .track {
    -fx-background-color: -gris;
    -fx-opacity: 0.2;
    -fx-background-radius: 10 10 10 10;
}

.list-cell1 {
    -fx-background-color: -verdeCurrent;
    -fx-border-color: -VerdeCurrent;
    -fx-background-insets: 0 0 0 0;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 30;
}
.list-cell1:filled:hover {
    -fx-border-color: black;
    -fx-background-insets: 0, 0, 0, 0;
    -fx-text-fill: black;
} 
.list-cell1:filled:selected:focused, .list-cell1:filled:selected {
    -fx-background-color: #bee9e9;
    -fx-border-color: #bee9e9;
    -fx-text-fill: black;
}
.list-cell1:even {
    -fx-background-color: #eeeeee;
    -fx-text-fill: black;
}
.list-view1 .scroll-bar:vertical .increment-button,
.list-view1 .scroll-bar:vertical .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.list-view1 .scroll-bar:vertical .increment-arrow,
.list-view1 .scroll-bar:vertical .decrement-arrow{
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 5 0 0;
}
.list-view1 .scroll-bar:vertical .thumb {
    -fx-background-color: -gris;
    -fx-background-radius: 10 10 10 10;
    -fx-opacity: 0.5;
} 
.list-view1 .scroll-bar:vertical .thumb:hover,
.list-view1 .scroll-bar:vertical .thumb:pressed {
    -fx-opacity: 1;
} 
.list-view1 .scroll-bar:vertical .track {
    -fx-background-color: -gris;
    -fx-opacity: 0.2;
    -fx-background-radius: 10 10 10 10;
}


