.root {
    verdeOpa: #13c4ca;
    verdeCurrent: #34d0d0;
    verdeCla: #95eeee;
    verdeClaa: #bee9e9;
    azul: #2500dd;
    rojo: #dd0000;
}

.buttonEdit {
    -fx-background-color: #34d0d0;
    -fx-background-radius: 30;
}
.buttonEdit:hover {
    -fx-background-color: #34d0d0;
    -fx-effect: dropshadow(gaussian , #34d0d0, 10 , 0.1 , 0 , 0 ); 
}
.buttonEdit:pressed {
    -fx-effect: dropshadow(gaussian , #009ca1 , 10 , 0.1 , 0 , 0 ); 
}

.accountItem {
    -fx-background-color:  #eeeeee;
}
.accountItem:hover{
    -fx-background-color:  black;
}

.VBox1 {
    -fx-background-color: #eeeeee;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.VBox1:pressed  {
    -fx-focus-color: transparent;
}
.VBox1:focused  {
    -fx-background-insets: 0, 0, 0, 0;
}

.VBox12 {
    -fx-background-color: #34d0d0;
}

.button1 {
    -fx-background-color: #eeeeee;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-insets: 0, 0, 0, 0;
}
.button1:focused {
    -fx-background-insets: 0, 0, 0, 0;
}

.splitBackground {
    -fx-background-color: #eeeeee;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #34d0d0;
 }

 .textField {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: transparent;
    -fx-border-radius: 15;
 }
 .textField:focused {
    -fx-border-color: #34d0d0;
 }



